/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 9, 2020, 5:21:04 PM
    Author     : Pat
*/

.clickSort {  /* The reusable code "claims" this one className 
                 The HTML coder can use these styles (to get default styling)
                 or change if they want to. */
                text-align:center;

            }

            .clickSort table {
                margin:auto;     /* auto makes left and right margins the same, means centered */
                border-style: solid;
                border-color: #6d801f;
            }

            .clickSort td {  /* applies to any <td> tag in any element classed "clickSort" */
                padding: 0.25rem;
                background-color: #F5F5F5;
                font-size: 1rem;
            }
            
            .clickSort td img { /* applies to any <img> tag in a <td> tag in any element classed "clickSort" */
                border-radius: 6px;
                box-shadow: 3px 3px 3px #444444;
                width: 80% !important;
            }

            .clickSort th {  /* applies to any <th> tag in any element classed "clickSort" */
                padding:0.25rem;
                padding-top:0.5rem;
                background-color: #F5F5F5;
                font-weight: bold;
                font-size:1.25rem;
                white-space: nowrap; /* do not want multi word column headings (or sort icon) to wrap */
            }