/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 25, 2020, 1:32:54 PM
    Author     : Pat
*/

.teeTimeStyle {
    color: #6d801f;
    background: rgba(245, 245, 245, 1);
    padding: 1rem;
    border-radius: 1rem;
    width: 100%;
}

.teeTimeStyle img {
    width: 200px;
}